body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    background-color: #f4f4f4;
}
.container {
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
h1, h2 {
    color: #333;
}

.subscribe {
    color: #fb0404; 
    background: white;
}
.dark-mode {
    background-color: #121212;
    color: #ffffff;
  }
